doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')

        // development here
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Class Supporter
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") Home
                        li
                            a(href="#") About
                        li
                            a(href="#") Contract
        .container
            block content

        script(src='/js/jquery-1.11.3.min.js')
        script(src='/js/bootstrap.min.js')
