extentds layout

block content
        label(for="id") ID
        input#id(name="id" value=id)
        br
        label(for="pw") Password
        input#pw(name="pw" value=pw)
        br
        label(for="pwc") Pw Confirm
        input#pwc(name="pwc" value=pwc)
        br
        input(type="submit")
    
