extentds layout

block content
    form(method="POST", action="signup")
        label(for="id") ID
        input#id(name="id")
        br
        label(for="pw") Password
        input#pw(name="pw")
        br
        label(for="pwc") Pw Confirm
        input#pwc(name="pwc")
        br
        input(type="submit")
    
